h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

html {
}

body {
  @include typography(body);
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
