.typography {
  @include m('root') {
    margin: 0;
    padding: 0;
  }

  @include m('h2') {
    @include typography-variant-heading1;
  }

  @include m('h3') {
    @include typography-variant-heading2;
  }

  @include m('h3') {
    @include typography-variant-heading3;
  }

  @include m('body') {
    @include typography(body)
  }

  @include m('centred') {
    text-align: center;
  }

  @include m('uppercased') {
    text-transform: uppercase;
  }
}