@mixin media-max-width-mobile {
  @media (max-width: $mobile) { @content; }
}

@mixin media-max-width-padmini {
  @media (max-width: $padmini) { @content; }
}

@mixin media-max-width-pad {
  @media (max-width: $pad) { @content; }
}

@mixin media-max-width-laptop {
  @media (max-width: $laptop) { @content; }
}
