@mixin typography-variant-heading1 {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 120%;

  @include media-max-width-mobile {
    font-size: 24px;
    line-height: 120%;
  }
}

@mixin typography-variant-heading2 {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;

  @include media-max-width-mobile {
    font-size: 22px;
    line-height: 120%;
  }
}

@mixin typography-variant-heading3 {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
}

@mixin typography-variant-body {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

@mixin typography($variant) {
  @if $variant == h1 {
    @include typography-variant-heading1;
  } @else if $variant == h2 {
    @include typography-variant-heading2;
  } @else if $variant == h3 {
    @include typography-variant-heading3;
  } @else if $variant == body {
    @include typography-variant-body;
  }
}
